---
interface Props {
    label: string
    key: string
    options: {
        label: string
        value: string
    }[]
}
const { label, key, options } = Astro.props;
---
<div class="flex flex-col gap-1">
    <label class="font-bold text-gray-700">{label}</label>
    <select id={key} name={key} x-model={key} class="w-full border border-gray-300 rounded px-3 py-2 bg-white focus:ring-1 focus:ring-blue-500 outline-none">
        {options.map(({ label, value }) => <option value={value}>{label}</option>)}
    </select>
</div>