---
import "semantic-ui-css/semantic.min.css"

interface Props extends Settings {}

const settings = Astro.props
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content={settings.description.value}>
    <meta name="author" content={`${settings.author.name} <${settings.author.email}>`}>
    <title>{settings.title}</title>
    <link rel="icon" href="favicon.ico">
    <meta property="og:title" content={settings.title.value}>
    <meta property="og:type" content={settings.type}>
    <meta property="og:url" content={settings.url}>
    <meta property="og:description" content={settings.description.value}>
    <meta property="og:image" content={`${settings.url}${settings.image.src}`}>
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "Organization",
        "url": "https://okkema.org",
        "logo": "https://okkema.org/logo.png",
        "location": "Planet Earth",
        "email": "correos@okkema.org",
        "description": "Cloud Consulting and Web Development",
        "name": "Okkema Labs"
      }
    </script>
    <style>
      html, body {
        height: 100%;
      }
      body{
        margin: 0;
        padding: 16px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
    </style>
	</head>
	<body>
		<slot />
	</body>
</html>
